<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.robotmachine.clipboardeditor</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9A59BBDE-C529-4C85-BF32-C9E0129209CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39D3C4BB-8E49-47BF-A47C-E5483635C6FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D567E721-1B24-4DF5-B859-CD8796C0DA55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A59BBDE-C529-4C85-BF32-C9E0129209CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bee Carter</string>
	<key>description</key>
	<string>Edits content of the clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clipboard Editor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Digits Only","arg":"digits","subtitle":"Remove everything but digits from clipboard."},{"title":"Mailto:","arg":"mailto","subtitle":"Removes mailto: prefix from copied emails."}]</string>
				<key>keyword</key>
				<string>ce</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Edits the contents of the clipboard.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D567E721-1B24-4DF5-B859-CD8796C0DA55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>39D3C4BB-8E49-47BF-A47C-E5483635C6FB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ce.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A59BBDE-C529-4C85-BF32-C9E0129209CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by Bee Carter
robotmachine.net</string>
	<key>uidata</key>
	<dict>
		<key>39D3C4BB-8E49-47BF-A47C-E5483635C6FB</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9A59BBDE-C529-4C85-BF32-C9E0129209CA</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D567E721-1B24-4DF5-B859-CD8796C0DA55</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>robotmachine.net</string>
</dict>
</plist>
